name: pocket

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  pocket:
    runs-on: {{`${{ matrix.os }}`}}
    strategy:
      fail-fast: false
      matrix:
        os: [{{.Platforms}}]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache-dependency-path: '**/go.sum'
      - name: Run pocket
        run: ./pok -v
