package main

import (
	"github.com/fredrikaverpil/pocket"
	"github.com/fredrikaverpil/pocket/tasks/golang"
)

var Config = pocket.Config{
	TaskGroups: []pocket.TaskGroup{
		golang.New(golang.Config{
			Modules: map[string]golang.Options{
				".": {},
			},
		}),
	},
}
