package main

import "github.com/fredrikaverpil/pocket"

var Config = pocket.Config{
	Go: &pocket.GoConfig{
		Modules: map[string]pocket.GoModuleOptions{
			".": {},
		},
	},
	GitHub: &pocket.GitHubConfig{},
}
