@echo off
setlocal EnableDelayedExpansion

:: Resolve shim directory to find .pocket
set "SHIM_DIR=%~dp0"
set "POCKET_DIR=%SHIM_DIR%{{.PocketDir}}"
set "TASK_SCOPE={{.Context}}"

go run -C "%POCKET_DIR%" . %*
