name: test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test-bash:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.os }}
    env:
      GOCACHE_PATH: ${{ matrix.os == 'windows-latest' && 'C:\Users\runneradmin\go' || '~/go' }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6

      - name: Restore Go cache
        uses: actions/cache/restore@v5
        with:
          path: |
            ${{ env.GOCACHE_PATH }}/pkg
            ${{ env.GOCACHE_PATH }}/bin
          key: go-${{ runner.os }}-${{ hashFiles('.pocket/go.sum') }}
          restore-keys: |
            go-${{ runner.os }}-

      - name: show help
        run: ./pok -h
      - name: pocket
        run: ./pok -v

      - name: Save Go cache
        uses: actions/cache/save@v5
        if: always()
        with:
          path: |
            ${{ env.GOCACHE_PATH }}/pkg
            ${{ env.GOCACHE_PATH }}/bin
          key: go-${{ runner.os }}-${{ hashFiles('.pocket/go.sum') }}

  test-cmd:
    name: test-cmd
    runs-on: windows-latest
    env:
      GOCACHE_PATH: C:\Users\runneradmin\go
    defaults:
      run:
        shell: cmd
    steps:
      - uses: actions/checkout@v6

      - name: Restore Go cache
        uses: actions/cache/restore@v5
        with:
          path: |
            ${{ env.GOCACHE_PATH }}\pkg
            ${{ env.GOCACHE_PATH }}\bin
          key: go-${{ runner.os }}-${{ hashFiles('.pocket/go.sum') }}
          restore-keys: |
            go-${{ runner.os }}-

      - name: show help
        run: pok.cmd -h
      - name: Run go-test
        run: pok.cmd -v

      - name: Save Go cache
        uses: actions/cache/save@v5
        if: always()
        with:
          path: |
            ${{ env.GOCACHE_PATH }}\pkg
            ${{ env.GOCACHE_PATH }}\bin
          key: go-${{ runner.os }}-${{ hashFiles('.pocket/go.sum') }}

  test-powershell:
    name: test-powershell
    runs-on: windows-latest
    env:
      GOCACHE_PATH: C:\Users\runneradmin\go
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@v6

      - name: Restore Go cache
        uses: actions/cache/restore@v5
        with:
          path: |
            ${{ env.GOCACHE_PATH }}\pkg
            ${{ env.GOCACHE_PATH }}\bin
          key: go-${{ runner.os }}-${{ hashFiles('.pocket/go.sum') }}
          restore-keys: |
            go-${{ runner.os }}-

      - name: show help
        run: .\pok.ps1 -h
      - name: Run go-test
        run: .\pok.ps1 -v

      - name: Save Go cache
        uses: actions/cache/save@v5
        if: always()
        with:
          path: |
            ${{ env.GOCACHE_PATH }}\pkg
            ${{ env.GOCACHE_PATH }}\bin
          key: go-${{ runner.os }}-${{ hashFiles('.pocket/go.sum') }}
