name: test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test-bash:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: show help
        run: ./pok -h
      - name: pocket
        run: ./pok -v

  test-cmd:
    name: test-cmd
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: show help
        run: pok.cmd -h
      - name: Run go-test
        run: pok.cmd -v

  test-powershell:
    name: test-powershell
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: show help
        run: .\pok.ps1 -h
      - name: Run go-test
        run: .\pok.ps1 -v
