name: test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test-bash:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false
      - name: show help
        run: ./bld -h
      - name: bld
        run: ./bld

  test-cmd:
    name: Test CMD shim
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false
      - name: show help
        run: bld.cmd -h
      - name: Run go-test
        run: bld.cmd

  test-powershell:
    name: Test PowerShell shim
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false
      - name: show help
        run: .\bld.ps1 -h
      - name: Run go-test
        run: .\bld.ps1
